{% extends 'base.html' %}
{% load static %}
{% block content %}
    <h1 class="page-header">Instagram</h1>
    {% for account in accounts %}
        <div class="add_acc_login">
            <img class="insta_img" src="{% static 'AutoMark/media/insta_icon.png' %}">
            <div class="add_acc_login_inner">
                Account: {{ account.username }}
                <div class="buttons_inner_acc">
                    <a href="{% url 'instagram_settings' pk=account.id%}">
                      <button type="button"  class="btn btn-success" data-toggle="modal">Settings</button>
                    </a>
                    <a href="{% url 'instagram_report' pk=account.id%}">
                        <button type="button" class="btn btn-primary">Report</button>
                    </a>
                </div>
            </div>
        </div>
    {% endfor %}
    <div class="add_acc">
        <div class="inner_add_acc">
            <h3 class=add_acc_login_inner>Login</h3>
            <form role="form" action="" method="post" name="Login_Instagram" class="form-signin">
                {% csrf_token %}
                <fieldset>
                    <div class="form-group">
                        <input class="form-control" name="username" placeholder="username" required="" autofocus="" >
                    </div>
                    <div class="form-group">
                        <input class="form-control" type="password" name="password" placeholder="password" required="">
                    </div>
                    <button class="btn btn-primary"  name="Submit" value="Login_instagram" type="submit"><i class="fa fa-instagram"></i> Sign in</button>
                </fieldset>
            </form>
        </div>
    </div>
{% endblock %}
