.add_acc{
    position: relative;
    width: 250px;
    height: 150px;
    border-color: #f8f8f8;
    border-style: solid;
    border-width: 2px;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.insta_login{
    left: 85px;
    bottom: 0;
    color: #FFFFFF;
    border-color: rgba(0,0,0,0.2);
    position: absolute;
    padding-left: 8px;
    text-align: left;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    border-radius: 5px;
    background-color: #3f729b;
    width: 80px;
    height: 30px;
}