.add_acc{
    float: left;
    position: relative;
    width: 280px;
    height: 220px;
    background-image: url("../media/insta_background.png");
    border-color: #f8f8f8;
    border-style: solid;
    border-width: 2px;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-right: 10px;
}

.add_acc_login{
    float: left;
    position: relative;
    width: 280px;
    height: 220px;
    background-image: url("../media/insta_background.png");
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-right: 10px;
}

.insta_img{
    margin-top: 10px;
    margin-left: 90px;
    width: 100px;
    height: 100px;
}

.inner_add_acc{
    padding: 20px 20px 20px 20px;
}

.add_acc_login_inner{
    padding-left: 35px;
    padding-right: 50px;
    font-size: 18px;
    text-align: center;
    color: #ffffff;
}

.insta_login{
    left: 85px;
    bottom: 0;
    color: #FFFFFF;
    border-color: rgba(0,0,0,0.2);
    position: absolute;
    padding-left: 8px;
    text-align: left;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    border-radius: 5px;
    background-color: #3f729b;
    width: 80px;
    height: 30px;
}

.inst-icon{
    margin-left: 100px;
}

.buttons_inner_acc{
    position: absolute;
    bottom: 5px;
}

.insta_add_button{
    margin-left: 85px;
}